DATABASE_URL=
# TODO MOVE TO PLATFORM CREDENTIALS
DIPENDENTI_IN_CLOUD_API_ENDPOINT=
DIPENDENTI_IN_CLOUD_PERSISTENT_TOKEN=

# TODO MOVE TO PLATFORM CREDENTIALS
GITHUB_ORGANIZATION=
GITHUB_PERSISTENT_TOKEN=

# TODO MOVE TO PLATFORM CREDENTIALS
YOUTRACK_API_ENDPOINT=
YOUTRACK_PERSISTENT_TOKEN=

# TODO MOVE TO PLATFORM CREDENTIALS
CURRANT_GITLAB_ENDPOINT=
CURRANT_GITLAB_PERSISTENT_TOKEN=

UPLOADTHING_TOKEN=
BLESS_TOKEN=