DATABASE_URL=
# TODO MOVE TO PLATFORM CREDENTIALS
DIPENDENTI_IN_CLOUD_API_ENDPOINT=
DIPENDENTI_IN_CLOUD_PERSISTENT_TOKEN=

# TODO MOVE TO PLATFORM CREDENTIALS
GITHUB_ORGANIZATION=
GITHUB_PERSISTENT_TOKEN=

# TODO MOVE TO PLATFORM CREDENTIALS
YOUTRACK_API_ENDPOINT=
YOUTRACK_PERSISTENT_TOKEN=

# TODO MOVE TO PLATFORM CREDENTIALS
CURRANT_GITLAB_ENDPOINT=
CURRANT_GITLAB_PERSISTENT_TOKEN=

UPLOADTHING_TOKEN=
BLESS_TOKEN=

AUTH_SECRET=
YOUTRACK_AUTH_CLIENT_ID=
YOUTRACK_AUTH_CLIENT_SECRET=
YOUTRACK_AUTH_ISSUER=

FATTURE_IN_CLOUD_PERSISTENT_TOKEN=
FATTURE_IN_CLOUD_COMPANY_ID=

PUBBLICA_WEB_USERNAME=
PUBBLICA_WEB_PASSWORD=
